.app {
  background-color: rgb(228, 228, 228);
  min-height: 100vh;
  color: white;
}

.link-button {
  text-decoration: none;
  color: white;
}

.app-toolbar {
  display: flex;
  justify-content: space-between;
}
